main {


  background-color: var(--white);

  border: var(--thickSolid) var(--blue);

  color: var(--purple);

  padding: 1.5em;


}

main p:nth-of-type(4) {
  font-weight: bold;
}

/*mobile code*/

@media (min-width: 350px) and (max-width: 768px) {
  main h2 {
    font-size: 20px;

    text-align: center;
  }

  h3 {
    text-align: center;
  }
}